% include('header.html', pagetitle=pagetitle)

<section>

    <article>
        {{ !markdown.markdown(basetext, extensions=['markdown.extensions.codehilite'])}}  <br>
    </article>



</section>


% include('footer.html')
