% include('header.html', pagetitle=pagetitle)

<section>


<article>
<h2>Edit Article</h2>
<form method="post">
	<input type="hidden" name="id" value="{{row['id']}}">
	<label>Title</label><br>
	<input type="text" name="title" style="width: 90%;" value="{{row['title']}}"><br>
	<label>Content</label><br>
	<textarea name="content" style="width: 90%; height:250px;"> {{row['content']}}</textarea><br>
	<label>Active?</label>
	<input type="checkbox" name="active"
	   % if row['active'] == 1	:
				checked
		%end
		>
	<br>
	<input type="submit"> 
</form>
</article>
</section>



% include('footer.html')
