<!DOCTYPE html>
<html lang="en">
<title>{{sitename}}  - {{pagetitle}}</title>
<meta charset="utf-8">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js">
</script>
<![endif]-->
<link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

            <link rel="stylesheet" href="{{ilink('static/css/site.css')}}">
<link rel="stylesheet" href="{{ilink('static/css/codehilite.css')}}">
<style>

</style>

<body>

<header>
<h1>
  <a href="/" >{{sitename}}</a>
</h1>
</header>

<nav>
<ul>
  <li> <a href="{{ilink('./')}}" >Blog</a></li>
  <li> <a href="{{ilink('about')}}" >About </a></li>
  <li> <a href="{{ilink('contact')}}" >Contact</a></li>
</ul>
    <div id="messagebox">{{message}} </div>
</nav>

