% include('header.html', pagetitle=pagetitle)

<section>
<h2><Posts></Posts></h2>

%for row in rows:
    <article>
        <h2><a href="blog/{{row['slug']}}" >{{row['title']}}</a>
            </h2>
    {{!row['html_content']}} <br>
      {{row['posted']}}
    </article>
%end


</section>


% include('footer.html')
