% include('header.html', pagetitle=pagetitle)

<section>
<article>
	<h2>Insert Post</h2>
<form method="post">
	<label>Title</label><br>
	<input type="text" name="title" style="width: 90%;"><br>
	<label>Content</label><br>
	<textarea name="content" style="width: 90%; height:280px;"></textarea><br>
	<label>Active?</label>
	<input type="checkbox" name="active" value="1"><br>
	<input type="submit"> 
</form>
</article>
</section>



% include('footer.html')
