% include('header.html', pagetitle=pagetitle)

<section>

    <article>

        <form action="/login" method="post">
            Email: <br>
            <input name="email" type="text" /><br>
            Password: <br>
            <input name="password" type="password" /><br>
            <input value="Login" type="submit" />
        </form>
    </article>



</section>


% include('footer.html')
