% include('header.html', pagetitle=pagetitle)

<section>
<h2>Manage Articles</h2>
    <a href="{{ilink('insert')}}">Create a post</a>
    % for row in rows:
    <article>
    {{row['title']}} {{row['posted']}} {{row['active']}}
        <a href="{{ilink('edit/'+row['slug'])}}">Edit</a>   <a href="{{ilink('delete/'+row['slug'])}}">Delete</a>
    </article>
    % end


</section>


% include('footer.html')
