
% include('header.html', pagetitle=row['title'])

<section>

    <article>
     <h2><a href="{{ilink('blog/'+row['slug'])}}" >{{row['title']}}</a>
         {{!row['html_content']}}
     <br>
      {{row['posted']}}
    </article>



</section>


% include('footer.html')
