body {
    font-family:Verdana,sans-serif;font-size:0.8em;
	
}
header,footer,section,article {
    border:1px solid grey;
    margin:5px;margin-bottom:5px;padding:2px;

}
header,footer, section {
    color: #FFFFFF;background-color: #17A697	;margin-bottom:2px;
}

header  a:link {
    color: #FFFFFF;
    text-decoration: none;
}

header a:visited {
    color: #FFFFFF;
    text-decoration: none;
}

section {
    color: #FFFFFF;background-color: #44d8af;margin-bottom:2px;
}



article {
    background-color: white;
    color: black;
}

nav ul  {
    margin:5px	;
    color: #ffd900;
    background-color: #D93240;
}
nav ul li {

    display:inline; margin:15px; padding:15px;
}

nav ul li a:link {
    
    color: #ffd900;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

nav ul li a:visited {
    
    color: #ffd900;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

h1 {
    font-size: 1.2em;
}
h2 {
    font-size: 1.1em;
}

a:link, a:visited {
    
    color: blue;
    padding: 4px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: #1499d3;
}

